/* css styles */
/* Note: comments in this file need to be denoted using '/*' /*
/* Hastags (#) are not recognised as comments in css */

/* Button text colour */
/* Applied when button created with: */
/* <button class='btn btn-danger'>  </button> */
a.btn.btn-danger {
  color: white !important;  /* or any color you'd like */
}

a.btn.btn-warning {
  color: white !important;  /* or any color you'd like */
}

a.btn.btn-success {
  color: white !important;  /* or any color you'd like */
}


/* Adjust logo size to fit increased navbar */
.navbar-logo {
  max-height: 70px; /* Adjust to fit your desired height */
  height: auto;
}


/* Vertically center the navbar title */
.navbar-title {
  line-height: normal;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.5rem; /* Optional: make text larger */
  font-weight: 700;
}


/* Font size of nav bar links */
.navbar-nav .nav-link {
  font-size: 1.25rem;  /* Increase this value as needed */
  line-height: normal;
  display: flex;
  align-items: center;
  height: 100%;
}

/* Font size of compact icon-only nav items */
.navbar-nav .nav-item.compact .nav-link i {
  line-height: normal;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1.25rem;
  align-items: center;
}

/* Font size for footer text */
.footer p {
  font-size: 1rem;  /* Adjust as needed */
  display: flex;
  align-items: center;
  height: 100%;
  align-items: center;
}

/* Font size of footer icons */
.footer .nav-item.compact .nav-link i {
  font-size: 1.25rem;  /* Adjust icon size */
  display: flex;
  align-items: center;
  height: 100%;
  align-items: center;
}

/* Increase font size for listing date */
.listing-date {
  font-size: 1.1rem; /* Adjust as needed */
}

.listing-title {
  font-weight: 700;  /* Optional: make it slightly bolder */
}

/* Apply only to the homepage */
body.page-index {
  margin-top: 0rem; /* reduce vertical spacing */
}

/* Apply only to the homepage */
body.page-index section#recent-up-coming-events {
  margin-top: 0rem; /* reduce vertical spacing */
}

#quarto-document-content {
  padding-top: 0rem /*!important; /* or 0 if you're feeling bold */
}

body.page-index section#recent-up-coming-events h1 {
  margin-top: 1rem; /* adjust as needed */
}



