/* custom changes to listings - primarily for news and events css styles */

/* Note: comments in this file need to be denoted using '/*' /*
/* Hastags (#) are not recognised as comments in css */


/* Increase font size for listing date */
/* see for e.g. events on homepage */
.listing-date {
  font-size: clamp(1em, 0.5em + 5vw,1.35em); /* Adjust as needed */
}

/* Make events or news title bolder */
.listing-title {
  font-weight: 700;  
  font-size: clamp(1em, 0.5em + 5vh, 1.35em);
}

/* shrink image included in bottom of gallery */
.shrink-img {
  width: 200px;
  height: auto;
}