/* custom changes to listings - primarily for news and events css styles */

/* Note: comments in this file need to be denoted using '/*' /*
/* Hastags (#) are not recognised as comments in css */

/* Make events or news title bolder */
.listing-title {
  font-weight: 700;  
  font-size: clamp(1em, 0.5em + 5vw, 1.35em); 
}

/* Subtitle is the location */
.listing-subtitle {
  font-size: clamp(0.8em, 0.5em + 6vw, 1.25em);
}

/* Date of the event */
.listing-date {
  font-size: clamp(1em, 0.5em + 5vw, 1.35em); /* Adjust as needed */
}

/* Time of the event */
.listing-author {
  font-size: clamp(1em, 0.5em + 5vw, 1.35em);
}

/* Description of event or news item */
.listing-description{
  font-size: clamp(0.8em, -0.5em + 5vw, 1.15em);
}

/* Format of the event, e.g. Q & A */
.listing-categories {
  font-size: clamp(0.8em, -0.5em + 5vw, 1.15em);
}



/* shrink image included in bottom of gallery */
.shrink-img {
  width: 200px;
  height: auto;
}

.thumbnail-image {
  max-width: 100%;
  height: auto;
}

@media (min-width: 50px) {
  .thumbnail-image {
    height: 300px; /* larger screens keep fixed height if wanted */
    width: auto;
  }
}
