/* navigation bar sizes */

/* navbar logo size */
.navbar-logo {
  max-height: clamp(40px,-10px + 8vw, 80px); /* Scales with screen width */
}

/* title: top left SPG at UCSF */
.navbar-title {
  font-size: clamp(0.8em, -0.5em + 5vw, 1.15em); /* Optional: make text larger */
}

/* Font size of nav bar links */
.navbar-nav .nav-link {
  font-size: clamp(0.8em, -3.5em + 8vw, 1.15em);  /* Increase this value as needed */
}

/* Font size of compact icon-only nav items */
.navbar-nav .nav-item .nav-link i {
  font-size: clamp(0.8em, -3.5em + 10vw, 1.25em);
}



/*
h2 {
  font-size: clamp(0.75em, -1.5em + 5vw, 1.75em);
}

h3 {
  font-size: clamp(0.75em, -1.5em + 5vw, 1.45em);
}

h4 {
  font-size: clamp(0.75em, -1.5em + 5vw, 1.25em);
}
*/

p {
  font-size: clamp(0.9rem, -0.5rem + 3vw, 1.25rem);
}

/* max width is 1,245 pixels */
/* min width is 250 px */


.content h1 {
  font-size: clamp(0.9rem, -0.25rem + 3.5vw, 2rem);
} 

.quarto-title-banner .title {
  font-size: clamp(1rem, -0.25rem + 3.5vw, 2rem);/* 1.25rem */
  /*clamp(1rem, -3.5rem + 6.65vw, 1.5rem); /* Responsive: ~16px to ~24px */ */
  line-height: 1.5; 
}

/* Target the subtitle paragraph */
/* in the title banner */ 
.quarto-title-banner .subtitle.lead {
  font-size: clamp(0.9rem, -0.5rem + 3vw, 1.25rem); /* 1.25rem */
  /*clamp(1rem, -3.5rem + 6.65vw, 1.5rem); /* Responsive: ~16px to ~24px */ */
  line-height: 1.5; 
}

/* Optional: Adjust spacing for buttons inside subtitle */
.quarto-title-banner .subtitle.lead a.btn {
  margin-right: 0.2em;
  margin-top: 0.2em;
  font-size: clamp(0.8em, -0.8em + 1.2vw, 0.9em); /* Slightly smaller text inside buttons */
}
