/* navigation bar sizes */

/* navbar logo size */
.navbar-logo {
  max-height: clamp(40px,-10px + 8vw, 80px); /* Scales with screen width */
}

/* title: top left SPG at UCSF */
.navbar-title {
  font-size: clamp(0.8em, -0.5em + 5vw, 1.15em); /* Optional: make text larger */
}

/* Font size of nav bar links */
.navbar-nav .nav-link {
  font-size: clamp(0.75rem, -0.7rem + 3vw, 1em);
}

/* Font size of compact icon-only nav items */
.navbar-nav .nav-item .nav-link i {
  font-size: clamp(0.8em, -3.5em + 10vw, 1.25em);
}

.nav-item .btn {
  font-size: clamp(0.75rem, -0.7rem + 3vw, 1em);
}

h1 {
  font-size: clamp(1.1em, -0.5em + 5vw, 1.85em);
}

.quarto-title-banner .subtitle.lead {
  font-size: clamp(0.75em, -0.7em + 5vw, 1.25em);
  line-height: 1.5; 
}

/* Optional: Adjust spacing for buttons inside subtitle */
.quarto-title-banner .subtitle.lead a.btn {
  margin-right: 0.1em;
  margin-top: 0.1em;
  font-size: clamp(0.75em, -1em + 5vw, 0.9em); /* Slightly smaller text inside buttons */
}


h2 {
  font-size: clamp(1em,  -0.5em + 5vw, 1.7em);
}

h3 {
  font-size: clamp(0.95em, -0.5em + 5vw, 1.5em);
}

h4 {
  font-size: clamp(0.85em, -0.5em + 5vw, 1.25em);
}

h5 {
  font-size: clamp(0.8em, -0.5em + 5vw, 1.1em);
}

p {
  font-size: clamp(0.75rem, -0.5rem + 3vw, 1em);
}

ul li {
  font-size: clamp(0.75rem, -0.5rem + 3vw, 1em);
}

figcaption {
  font-size: clamp(0.75rem, -0.5rem + 3vw, 1em);
}





.quarto-title-banner .title {
  /*font-size: clamp(1rem, -0.25rem + 3.5vw, 2rem);/* 1.25rem */ */
  /*clamp(1rem, -3.5rem + 6.65vw, 1.5rem); /* Responsive: ~16px to ~24px */ */
  line-height: 1.5; 
}


